.ripple-container {
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 3px solid #e4e4e4;
    color: #ffabf3;
    padding: 1vh 1vw;
    text-shadow: 
      1px -1px  black,
      -1px -1px  black,
      -1px  1px  black,
      1px  1px  black;
}

.ripple-container:hover {
    outline: 2px solid #999;
}

.flex-container {
    margin-top: 20px;
    display: flex;
    gap: 16px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.flex-container-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
  justify-content: flex-start;
}

.middle {
  background: #321b6c;
  border: 6px solid black;
  outline: 3px solid #e4e4e4;
  outline-offset: -10px;
  border-radius: 25px;
  text-align: center;
  min-width: 50vw;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 50vh;
  height: fit-content;
}

.middle h1{
  width: 90%;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: whitesmoke;
  text-shadow:
    -1px -1px 0 black,
    0   -1px 0 black,
    1px -1px 0 black,
    -1px  0   0 black,
    1px  0   0 black,
    -1px  1px 0 black,
    0    1px 0 black,
    1px  1px 0 black;
}

table {
  border-collapse: collapse;
  width: 30%;
  padding: 1vh 1vw;
}

.place {
  padding: 0 1vw;
}

.middle th {
  padding: 1vw;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  text-shadow:
    1px  0   0 black,
    -1px  1px 0 black,
    0    1px 0 black,
    1px  1px 0 black;
  }

.middle td {
  font-size: larger;
  font-weight: bold;
  color: whitesmoke;
  letter-spacing: 2px;
  border-left: 3px solid #f59f01;
  border-right: 3px solid #f59f01;
  text-shadow:
    -1px -1px 0 black,
    0   -1px 0 black,
    1px -1px 0 black,
    -1px  0   0 black,
    1px  0   0 black,
    -1px  1px 0 black,
    0    1px 0 black,
    1px  1px 0 black;
}

.word {
  font-size: 24px;
  margin-bottom: 4px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
}

.information {
  font-size: 30px;
  text-align: center;
}

@media (max-width: 600px) {
  div {
    display: flex;
    flex-direction: column;
  }
}
