<h3 mat-dialog-title class="title">{{message}}</h3>
<mat-dialog-content class="dialog-container">

  <div class="loading-cat">
    <div class="body"></div>
    <div class="head">
      <div class="face"></div>
    </div>
    <div class="foot">
      <div class="tummy-end">
      </div>
      <div class="bottom">
      </div>
      <div class="legs left">
      </div>
      <div class="legs right">
      </div>
    </div>
    <div class="hands left">
    </div>
    <div class="hands right">
    </div>
  </div>

</mat-dialog-content>

<!--
  const dialogRef = this.dialog.open(LoadingdialogComponent, {
      width: '400px',
      disableClose: true,
    });

    dialogRef.componentInstance.onLoading("Várakozás a játékmesterre...");
-->
